name: YT Channel Downloader
on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'
env:
  GITHUB_USERNAME: buddhhu
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
       - uses: actions/checkout@v2
       - name: Setup Python
         uses: actions/setup-python@v2
         with:
           python-version: 3.10.x
       - name: initialization
         continue-on-error: true
         run: |
           git config --global user.name ${{ env.GITHUB_USERNAME }}
           git config --global user.email ${{ secrets.GIT_EMAIL }}
           git config --global credential.helper store
           echo "https://${{ env.GITHUB_USERNAME }}:${{ secrets.GITHUB_TOKEN }}@github.com" > ~/.git-credentials
       - name: Installation
         run: bash installer.sh
       - name: Run
         timeout-minutes: 330
         run: python backup.py
         env:
           BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
           YT_CHANNEL_LINK: ${{ secrets.YT_CHANNEL_LINK }}
           TG_CHANNEL_ID: ${{ secrets.TG_CHANNEL_ID }}
       - name: Loop workflow
         continue-on-error: true
         run: |
           git add videos.txt
           git commit -m "Auto Commit"
           git push -q https://${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY} HEAD:main
